<br><br>
<div class="flex-container">
  <div class="second">
    <div class="border">
      <div class="bordertext">
        <p class="tittle"><b>Руководство кафедры</b></p>
        <p class="tittle2">Соколова Элеонора Станиславовна</p>
        <p class="text-right">Доктор технических наук, профессор</p><br>
        <a class="text-right"><b>E-mail:</b></a><br>
        <a class="text-right">essokolowa@gmail.com</a><br>
        <a class="text-right">eleonora.sokolova@nntu.ru</a><br><br>
      </div>

      <img src="assets/foto.png" alt="" class="image">
    </div>
  </div>

  <div class="first">
    <p class="text1">ПРОФЕССОРСКО-ПРЕПОДАВАТЕЛЬСКИЙ СОСТАВ КАФЕДРЫ</p>
    <p class="text">3 доктора наук, профессора;<br>
      13 кандидатов наук, доцентов;<br>
      1 доцент;<br>
      3 старших преподавателя;<br>
      3 ассистента.</p>
    <br><br>
    <a href="" class="button">Узнать больше ></a>
  </div>

</div>
