*, *:before, *:after{
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.block {
  width: 400px;
  height: 380px;
  float: left;
}

.block p {
  margin: 0 15px;
  padding: 10px 0;
  font-size: 18px;
  color: #313131;
  text-align: center;
  border-top: #B8B5B5 2px solid;
}

.image {
  margin: 0 auto;
  background-position: center;
  width: 340px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
}
