<div>
  <app-usefullinf></app-usefullinf>
  <br>
  <div class="inf">
    <p>Кафедра информатики и систем управления входит в состав  Учебно-научного института радиоэлектроники
      и информационных технологий (ИРИТ). Как самостоятельная структура она была выделена
      из электротехнического факультета Горьковского политехнического института им. А.А. Жданова в 1972 году.</p>
    <a href="http://miriteam.com/" style="float: right; font-size: 16px; font-weight: bolder; text-decoration: none ;width: 150px; padding-top: 5px; color: #2135C0;">УЗНАТЬ БОЛЬШЕ ></a>
  </div>
  <br><br>
  <app-glinf-three></app-glinf-three>
  <app-direction></app-direction>

  <a name="startup-students-less"></a>
  <app-startup-students-less></app-startup-students-less>
  <br><br><br><br>

  <a name="projects-miriteam"></a><br>
  <app-projects-miriteam></app-projects-miriteam>
  <br><br><br><br>

  <app-partners></app-partners>

</div>
<br><br>

<a href="kaf" title="Вернуться к началу" class="topbutton"></a>
