<div class="container">
  <div class="box_1">
    <a href="" style="text-decoration: none; color: #fff;">ПОЛЕЗНАЯ <br>ИНФОРМАЦИЯ О<br>КАФЕДРЕ ИСУ</a>
  </div>
  <div class='box_2'>
    <p class="text_2"> Направления подготовки кафедры ИСУ и успехи наших студентов</p><br>
    <p class="text_3"><a style="text-decoration: none; color: #2135C0; font-weight: bolder; " href="https://drive.google.com/file/d/1vjPAnX85GcA_dgEkn9gT61dubasdwnUC/view">УЗНАТЬ БОЛЬШЕ>></a></p>
    <hr  width="500" size="2" color="#ffffff" />
    <p class="text_2"> Специальная подготовка студентов</p><br>
    <p class="text_3"><a style="text-decoration: none; color: #2135C0; font-weight: bolder; " href="https://drive.google.com/file/d/1xiGFYpPILw95cEHuuWYjL0rAisfLCgqV/view">УЗНАТЬ БОЛЬШЕ>></a></p>
    <hr  width="500" size="2" color="#ffffff" />
    <p class="text_2"> Студенты кафедры ИСУ ежегодно входят в число лучших выпускников ИРИТ<br>
    <p class="text_3"><a style="text-decoration: none; color: #2135C0; font-weight: bolder; " href="https://www.nntu.ru/frontend/web/ngtu/files/org_structura/instit_fakul_kaf_shkoly/irit/vypuskniki2020_irit.pdf">УЗНАТЬ БОЛЬШЕ>></a></p>
  </div>
</div>
