
<div class="flex-container">
  <div class="first">
    <p class="text">Кафедра информатики и систем управления входит в состав Учебно-научного института радиоэлектроники и информационных технологий (ИРИТ).
      Как самостаятельная структура она была выделена из электротехнического факультета Горьковского политехнического института им. А.А. Жданова в 1972 году.</p>
    <br><a href="" class="button">Читать далее ></a>
  </div>
  <div class="second">
    <div class="border">
      <div class="bordertext">
        <p class="tittle"><b>Руководство кафедры</b></p>
        <p class="tittle2">Соколова Элеонора Станиславовна</p>
        <p class="text-right">Доктор технических наук, профессор</p><br>
        <a class="text-right"><b>E-mail:</b></a><br>
        <a class="text-right">essokolowa@gmail.com</a><br>
        <a class="text-right">eleonora.sokolova@nntu.ru</a><br><br>
      </div>

      <img src="assets/foto.png" alt="" class="image">
    </div>
  </div>
</div>
