
.text {
  width: 1084px;
  padding: 20px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #1b1e21 ;
}

.wrapper {
  padding: 20px;
  max-width: 100%;
}

.box {
  display:block;
  width:31%;
  float:left;
  padding-bottom: 50px;
  padding-left: 1%;
}


.stage {

  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
