<div class="container">
  <div class="text">
    <div style="text-align: center; font-size: 24px;  font-weight: bolder;color: #FFFFFF">СТУДЕНЧЕСКАЯ ЖИЗНЬ</div>
  </div>
  <div class="wrapper">
    <ul class="stage">
      <li class="box">
        <p><a href="https://www.nntu.ru/content/zhizn/studencheskii-sovet" style="text-decoration: none; text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">Студенческий совет</a></p>

        <div class="info">
          <p></p>
        </div>

      </li>
      <li class="box">
        <p><a href="https://www.nntu.ru/content/universitet/profkom-studentov" style="text-decoration: none; text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">Профком студентов</a></p>

        <div class="info">
          <p></p>
        </div>

      </li>
      <li class="box">
        <p><a href="https://www.nntu.ru/content/zhizn/rossiiskii-soyuz-molodezhi" style="text-decoration: none;text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">Российский союз молодёжи</a></p>

        <div class="info">

          <p></p>
        </div>

      </li>
      <li class="box">
        <p><a href="https://www.nntu.ru/structure/view/podrazdeleniya/studencheskii-klub" style="text-decoration: none;text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">Студенческий клуб</a></p>

        <div class="info">
          <p>Студия «Шоколад»<br>Студия КВН<br>Танцевально-спортивный центр<br>
            Школа радистов<br>Театр эстрадных миниатюр «ТЭМП»<br>Медиацентр «ПолиТеле»</p>
        </div>

      </li>
      <li class="box">
        <p><a href="https://www.nntu.ru/content/zhizn/sport-v-universitete" style="text-decoration: none;text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">Спорт в университете</a></p>

        <div class="info">
          <p></p>
        </div>

      </li>
      <li class="box">
        <p><a href="https://www.nntu.ru/content/zhizn/studencheskie-otryady" style="text-decoration: none;text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">Студенческие отряды</a></p>

        <div class="info">
          <p>Оперативный отряд «Дружина»<br>Педагогический отряд «Всплеск» <br>
            Педагогический отряд «Навсегда»<br>Отряд проводников «Альянс»<br>
            Отряд проводников «Ассорти» <br>Строительный отряд «Сила тока»<br>
            Строительный отряд «Квант»<br>Строительный отряд «Эталон»<br>
            Энергетический отряд «Энергия»<br>Профильный отряд «Авангард»</p>
        </div>

      </li>
      <li class="box">
        <p><a href="http://zhdanovec.nntu.ru/" style="text-decoration: none;text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">СОЛ "Ждановец"</a></p>

        <div class="info">
          <p></p>
        </div>

      </li>
      <li class="box">
        <p><a href="https://www.nntu.ru/content/zhizn/studencheskii-gorodok" style="text-decoration: none;text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">Студенческий городок</a></p>

        <div class="info">
          <p></p>
        </div>

      </li>
      <li class="box">
        <p><a href="https://www.nntu.ru/content/zhizn/uchebnye-korpusa" style="text-decoration: none;text-align: left;font-weight: bolder; font-size: 20px; color: #FFFFFF">Учебные корпуса</a></p>

        <div class="info">
          <p></p>
        </div>

      </li>
    </ul>
  </div>

</div>
