
<header>
  <a href=""><img href="" src="http://isu.nntu.ru/sites/default/files/pixture_reloaded_logo.PNG" align="left" style="margin: 15px;"></a>
  <p id="gltext">  Кафедра Информатики и <br> систем управления</p>
  <nav role='navigation'>
    <ul>
      <li><a href="kaf">О кафедре</a></li>
      <li><a href="news">Новости</a></li>
      <li><a href="abiturient">Абитуриентам</a>
        <ul>
          <li><a href="abiturient">Направления обучения</a></li>
          <li><a href="http://localhost:4200/abiturient#abitur-map">О поступлении</a></li>
        </ul>
      </li>
      <li><a href="">Студентам</a>
        <ul>
          <li><a href="">Библиотека студента</a></li>
          <li><a href="">Вакансии</a></li>
          <li><a href="">Объявления</a></li>
          <li><a href="">Практики</a></li>
          <li><a href="">Расписание</a></li>
          <li><a href="">Учебные планы</a></li>
        </ul>
      </li>
      <li><a href="http://miriteam.com/">Проекты</a></li>
      <li><a href="">Сотрудникам</a>
        <ul>
          <li><a href="">Объявления</a></li>
          <li><a href="">Расписание</a></li>
          <li><a href="">Документы</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<div class="main_container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div id="footcontent">Тел.: 8(831) 436-83-44 <br>E-mail: cscs@nntu.ru, stepanenkoma@mail.ru <br> Адрес: г.Нижний Новгород, ул. Минина, д.24, корп. 4, ауд. 4401-4408
  </div>
</footer>

