
<app-fieldsstudy></app-fieldsstudy>
<br><br>
<app-usefullinf></app-usefullinf>
<br><br>
<br><br>
<app-disciplines></app-disciplines>
<br><br>
<app-demand></app-demand>
<br><br>
<a name="startup-students-less"></a>
<app-startup-students-less></app-startup-students-less>
<br><br><br><br>

<a name="projects-miriteam"></a><br>
<app-projects-miriteam></app-projects-miriteam>
<br><br><br><br>

<app-studlife></app-studlife>
<br><br>

<a name="abitur-map"></a>
<app-abitur-map></app-abitur-map>

<br><br>


<a href="abiturient" title="Вернуться к началу" class="topbutton"></a>
