<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="text">
    <div style="text-align: center; font-size: 24px;  font-weight: bolder;">ВОСТРЕБОВАННОСТЬ НА РЫНКЕ</div>
  </div>
  <div class="wrapper">
    <p style="font-size: 20px;">Благодаря отличной подготовке в области программирования, информационной безопасности, создания и сопровождения
      информационных ресурсов, построения систем обработки информации и
      управления, выпускники кафедры легко трудоустраиваются в ведущих российских и зарубежных
      компаниях, на производственных предприятиях, в научно-исследовательских институтах, IT-компаниях.
    </p>
    <p style="font-size: 20px;">Кафедра ИСУ поддерживает устойчивые научные
      и производственные связи с ведущими предприятиями. Наши выпускники работают в ведущих компаниях отрасли</p>
    <br><br>

    <div id="img"><img src="assets/demand.png" style="width: 1080px; margin: 0 auto; text-align: center" alt=""></div>

  </div>
</div>
