<div class="container">
  <br>
  <div class="text" style="overflow: hidden; height: 55px; ">
    <div style="float: left; font-size: 22px; width: 600px; font-weight: bolder;">ПРОЕКТНАЯ ДЕЯТЕЛЬНОСТЬ КОМАНДЫ "MIRITEAM" </div>
    <a href="http://miriteam.com/" style="float: right; font-size: 16px; font-weight: bolder; text-decoration: none ;width: 150px; padding-top: 5px; color: #2135C0">САЙТ КОМАНДЫ ></a>
  </div>
  <div>
    <div class="text after-box">
      На базе кафедры существует команда MirITeam. Ребята регулярно выступают
      на научных конференциях, участвуют в IT-хакатонах и публикуют статьи в научных журналах
      индексируемых в РИНЦ и/или входящих в текущий Перечень ВАК России.
      Они создают передовые технологии на всех доступных платформах на основе компьютерного зрения,
      машинного обучения и широкого спектра процессов автоматизации,
      будь это производство, ритейл или промышленность.
    </div>
    <br><br><br>
  </div>

  <div class="wrapper">
    <ul class="stage">
      <li *ngFor="let element of data;" class="box">
        <br>
        <p style="text-align: center; font-size: 22px; margin-bottom: 25px; color: #FFFFFF; height: 50px">{{element.title}}</p>
        <div class="scene">
          <div class="movie" onclick="return true">
            <div class="poster" [ngStyle]="{'background-image': 'url(' + element.img + ')', 'background-size': 'auto 100%'}"></div>
            <div class="info" >
              <header [ngStyle]="{'background-image': 'url(' + element.img + ')'}">
                <h1>{{element.title}}</h1>
              </header>
              <p>{{element.description}}</p>

              <a href="element.href" class="glo">Подробнее</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
