<br xmlns:text-decoration="http://www.w3.org/1999/xhtml" xmlns:text-decoration="http://www.w3.org/1999/xhtml"
    xmlns:text-decoration="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml"><br><br>
<div id="container">
  <div class="headline">
    <h1>ПОСЛЕДНИЕ НОВОСТИ КАФЕДРЫ</h1>
    <h2><a href="news" style="text-decoration: none; color: #2135C0;">ВСЕ НОВОСТИ > </a></h2>
  </div>
  <div class='box'>
    <p class='fig'><img src="assets/image 13.png"></p>
    <p class="text_3">ИСТ-2020». Материалы<br> конференции размещены на <br>портале НГТУ им. Р.Е. Алексеева</p>
    <a class="text_4" href="news" style="text-decoration: none; color: #2135C0;">ЧИТАТЬ ДАЛЕЕ ></a>
  </div>
  <div class='box'>
    <p class='fig'><img src="assets/image 14.png"></p>
    <p class="text_3">Студенты кафедры ИСУ стали<br> призерами отборочного этапа<br> чемпионата CASE-IN</p>
    <a class="text_4" href="news" style="text-decoration: none; color: #2135C0;">ЧИТАТЬ ДАЛЕЕ ></a>
  </div>
  <div class='box'>
    <p class='fig'><img src="assets/image 15.png"></p>
    <p class="text_3">День открытых дверей ИРИТ - в<br> дистанционном формате</p>
    <a class="text_4" href="news" style="text-decoration: none; color: #2135C0;">ЧИТАТЬ ДАЛЕЕ ></a>
  </div>
</div>
