<br><br><br>
<div class="container">
  <div class="box_1">
    <a href="" style="text-decoration: none; color: #fff;">НАПРАВЛЕНИЯ <br>ПОДГОТОВКИ<br> СПЕЦИАЛИСТОВ</a>
  </div>
  <div class='box_2'>
    <p class="text_2">БАКАЛАВРИАТ</p>
    <p class="text_3"> 09.03.01 - <b>«Информатика и вычислительная техника»</b> по профилю <b>«Автоматизированные системы обработки информации и управления»</b> </p>
    <p class="text_3"> 09.03.02 - <b>«Информационные системы и технологии»</b> по профилю <b>«Безопасность информационных систем»</b></p>
    <hr  width="500" size="2" color="#ffffff" />
    <p class="text_4">МАГИСТРАТУРА</p>
    <p class="text_3"> 09.04.01 (230100) - <b>«Информатика и вычислительная техника»</b> по магистерской программе <b>«Автоматизированные системы обработки информации и управления»</b> </p>
    <p class="text_3"> 09.04.02 (230400) - <b>«Информационные системы и технологии»</b> по магистерской программе <b>«Безопасность информационных систем»</b> </p>
  </div>
</div>
<app-news></app-news>
