<div class="container" >
  <div class="text">
    <div style="text-align: center; font-size: 24px;  font-weight: bolder; color: #2135C0">НАПРАВЛЕНИЯ ИССЛЕДОВАНИЙ</div>
  </div>
  <div class="wrapper">
    <p style="font-size: 20px;">1. Обеспечение высокой надёжности автоматизированных систем обработки информации и управления.<br>
      2. Организация и проектирование интеллектуальных систем контроля, диагностирования и прогнозирования состояний и процессов с целью предотвращения внештатных ситуаций;<br>
      3. Нейронные сети и машинное обучение;<br>
      4. Поисковые системы;<br>
      5. Интеллектуальный анализ данных<br>
      6. Технологии обработки больших данных<br>
      7. Методы цифровой обработки сигналов (DSP) в системах управления<br>
      8. Цифровая обработка звуковых сигналов, распознавание речи<br>
      9. Проектирование микропроцессорных систем управления, программирование контроллеров<br>
      10. Обработка, анализ, компьютерное распознавание изображений. Техническое зрение. Обработка видеопотоков в ADAS-системах, при биометрической верификации. Обработка медицинских изображений, изображений микроструктуры поверхностей;<br>
      11. Компьютерная, сетевая безопасность, противодействие угрозам.<br>
    </p>
    <br>

  </div>
</div>
